menu "MicroPython"
    config MICROPY_HW_BOARD_NAME
        string "Board name"
        default "ESP32 board"
        help
        Hardware board mame

    config MICROPY_HW_MCU_NAME
        string "MCU name"
        default "ESP32"
        help
        Hardware MCU mame

    config MICROPY_TIMEZONE
        string "Time zone"
        default "GMT0BST"
        help
        Set the time zone string used when updating the tome from NTP server
        You can use 'zones.csv' file to find the time zone string
        Use the second entry for your Region/city as the value set here

    menu "System settings"
		config MICRO_PY_LOG_LEVEL
		    int
		    default 0 if MICRO_PY_LOG_LEVEL0
		    default 1 if MICRO_PY_LOG_LEVEL1
		    default 2 if MICRO_PY_LOG_LEVEL2
		    default 3 if MICRO_PY_LOG_LEVEL3
		    default 4 if MICRO_PY_LOG_LEVEL4
		    default 5 if MICRO_PY_LOG_LEVEL5
		
			choice
			    prompt "Set ESP32 log level"
			    default MICRO_PY_LOG_LEVEL2
			    help
			        Select Log (debug) level
			
			    config MICRO_PY_LOG_LEVEL0
			        bool "None"
			    config MICRO_PY_LOG_LEVEL1
			        bool "Error"
			    config MICRO_PY_LOG_LEVEL2
			        bool "Warning"
			    config MICRO_PY_LOG_LEVEL3
			        bool "Info"
			    config MICRO_PY_LOG_LEVEL4
			        bool "Debug"
			    config MICRO_PY_LOG_LEVEL5
			        bool "Verbose"
			endchoice

	    config MICROPY_TASK_PRIORITY
	        int "Main task priority"
	        range 1 20
	        default 5
	        help
	        Set the priority of the main MicroPython task
	
	    config MICROPY_RX_BUFFER_SIZE
	        int "RX buffer size"
	        range 256 4096
	        default 1080
	        help
	        Set the size of the stdin RX buffer in bytes
	        Minimum of 1080 bytes must be set if you want to use YModem module
	
	    config MICROPY_STACK_SIZE
	        int "MicroPython stack size (KB)"
		   	depends on !MEMMAP_SPIRAM_ENABLE
	        range 8 32
	        default 16
	        help
	        Set the size of the MicroPython stack in Kbytes
	
	    config MICROPY_HEAP_SIZE
	        int "MicroPython heap size (KB)"
		   	depends on !MEMMAP_SPIRAM_ENABLE
	        range 48 128
	        default 92
	        help
	        Set the size of the MicroPython heap in Kbytes
	
	    config MICROPY_STACK_SIZE_PSRAM
	        int "MicroPython stack size (KB)"
		   	depends on MEMMAP_SPIRAM_ENABLE
	        range 16 128
	        default 32
	        help
	        Set the size of the MicroPython stack in Kbytes
	        We are using psRAM and stack size can be set up to 128 KB
	
	    config MICROPY_HEAP_SIZE_PSRAM
	        int "MicroPython heap size (KB)"
		   	depends on MEMMAP_SPIRAM_ENABLE
	        range 1024 4096
	        default 4096
	        help
	        Set the size of the MicroPython heap in Kbytes
	        The heap is placed on psRAM and and can be up to 4096 KB in size
	
	    config MICROPY_USE_THREADS
	        bool "Use threads"
	        default y
	        help
	        Use _thread module
	
	    config MICROPY_THREAD_PRIORITY
	        int "Threads default priority"
	        depends on MICROPY_USE_THREADS
	        range 5 20
	        default 4
	        help
	        Set the default priority of the MicroPython threads created using _thread module
	
	    config MICROPY_THREAD_STACK_SIZE
	        int "Threads default stack size (KB)"
	        depends on MICROPY_USE_THREADS
	        range 5 32
	        default 5
	        help
	        Set the default thread stack size
	        5 KB is currently the minimum supported stack size value to guarantee
	        sufficient stack space for the interpreter itself
	
    endmenu

    menu "Modules"
	    config MICROPY_PY_FRAMEBUF
	        bool "Enable framebuffer"
	        default y
	        help
	        Include framebuffer module into build
	
	    config MICROPY_PY_BTREE
	        bool "Include Btree"
	        default n
	        help
	        Include Btree module into build
	
	    config MICROPY_USE_WEBSOCKETS
	        bool "Use Websockets"
	        default n
	        help
	        Include websockets module into build
	
	endmenu
    menu "File systems"
        config MICROPY_USE_SPIFFS
            bool "Use SPIFFS"
            default n
            help
            Use spiffs on spi Flash instead of FatFS

        config MICROPY_INTERNALFS_START
            hex "Start address of the Flash partition"
            range 0x180000 0x1FF8000
            default 0x180000
            help
            Starting address of the Flash partition to be used as internal filesystem area
            Use hexadecimal format with leading 0x

        config MICROPY_INTERNALFS_SIZE
            int "Filesystem size (KB)"
            range 512 14336
            default 1024
            help
            File sistem size in KB (Kbytes), minimum is 1s 512K
            Set the size in 4KB increments !

        config MICROPY_INTERNALFS_ENCRIPTED
            bool "Use encripted filesystem"
            depends on !MICROPY_USE_SPIFFS
            default n
            help
            Use encription on internal file system
            Warning: this function is still UNTESTED

        config MICROPY_FATFS_MAX_OPEN_FILES
            int "Maximum number of opened files"
            range 4 24
            default 6
            help
            Maximum number of opened files

        config MICROPY_SDMMC_SHOW_INFO
            bool "Show SDCard/SPIFFS info"
            default y
            help
            Show info after initializing SD card or SPIFFS

    endmenu

    menu "SD Card configuration"
		config SDCARD_MODE
		    int
		    default 1 if SDCARD_MODE1
		    default 2 if SDCARD_MODE2
		    default 3 if SDCARD_MODE3
		
			choice
			    prompt "SD Card mode"
			    default SDCARD_MODE3
			    help
			        Select SD Card operating mode
			
			    config SDCARD_MODE1
			        bool "SPI Mode"
			        depends on !MEMMAP_SPIRAM_ENABLE 
			    config SDCARD_MODE2
			        bool "1-line SD Mode" 
			    config SDCARD_MODE3
			        bool "4-line SD Mode" 
			endchoice

        config SDCARD_CLK
            int "CLK pin"
            depends on SDCARD_MODE1
            range 1 32
            default 14
            help
            Pin used as SPI CLK

        config SDCARD_MOSI
            int "MOSI pin"
            depends on SDCARD_MODE1
            range 1 32
            default 15
            help
            Pin used as SPI MOSI

        config SDCARD_MISO
            int "MISO pin"
            depends on SDCARD_MODE1
            range 1 32
            default 2
            help
            Pin used as SPI MISO

        config SDCARD_CS
            int "CS pin"
            depends on SDCARD_MODE1
            range 1 32
            default 13
            help
            Pin used as SPI CS
    endmenu
endmenu
